{% extends 'base.html.twig' %}

{% block title %}{{ blog_post.title }} - {{ 'title.blog'|trans }} - {{ 'title.main_title'|trans }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="example-wrapper">
        <h1>{{ blog_post.title }}</h1>
        <h3>{{ 'blog_post.by'|trans }} {{ blog_post.author.firstname ~ ' ' ~ blog_post.author.lastname }}</h3>

        <h5><a href="{{ path('app_blog_details', { 'slug': blog_post.slug }) }}">Link</a></h5>

        {{ blog_post.content }}
    </div>
{% endblock %}
